/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.image-apple-pie {
  height: 28rem;
  background-image: url(../images/apple-pie.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

h1 {
  font-size: 4rem;
  color: aliceblue;
  font-weight: lighter;
}



hr {
  margin-left: 4rem;
  margin-right: 5rem;
}







.Introduction {
  margin: 3rem 3rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-introduction {
  margin-bottom: 2rem;
}

.recipe-info {
  height: 3em;
}





.recipe {
  height: 20rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ingredients {
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.list-items {
  list-style: none;
  list-style-type: '- ';
}

.recipe-list {
  margin-left: 2rem;
}

.image-CookTime {
 align-self: center;
 height: 4rem;
 margin-top: 0.5rem;
 margin-right: 4rem;
}




.directions {
 height: 15rem;
 margin: 4rem 4rem 2rem 4rem;
 display: flex;
 flex-direction: column;
 font-family: "Helvetica", sans-serif;
}

.title-direction {
  font-size: 1.1rem;
  font-weight: bold;
}

.org-list-one {
  margin-top: 2rem;
  margin-left: 1.1rem;
}

.org-list {
  margin-left: 1.1rem;
}